/* Misc */
:root {
    --kernel-darkgray: #2c3134;
    --kernel-lightgray: #33383a;
    --kernel-white: #dddddd;
    --kernel-blue: #4a90d8;
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

* {
    box-sizing: border-box;
    font-family: inherit;
}

body {
    margin: 1rem 3rem;
    background: url(https://wallpapercave.com/wp/wp2071802.jpg) no-repeat center center fixed;
    color: var(--kernel-white);
    font-family: 'Ubuntu Mono', monospace;
}

header {
    background-color: var(--kernel-darkgray);
    border-radius: 0.5rem 0.5rem 0 0;
    height: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    cursor: grab;
}

main {
    background-color: var(--kernel-lightgray);
    padding: 0.5rem 4rem 2rem 4rem;
    overflow: auto;
    border-radius: 0 0 0.5rem 0.5rem;
}

hr {
    opacity: 0.1;
}

h1 {
    font-size: larger;
}

h1 > span {
    background-color: currentColor;
    animation: blink 1s steps(2) infinite;
    margin-left: 5px;
}

h2 {
    font-size: large;
}

h3 {
    font-size: larger;
    margin-top: 1.5rem;
}

select {
    font-size: medium;
    background-color: var(--kernel-darkgray);
    color: currentColor;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: 0;
    width: 16rem;
}

option:hover, option:checked {
    background-color: var(--kernel-blue);
}

input[type="number"] {
    padding: 0.2rem 0.5rem;
    border-radius: 0.2rem;
    border: 0;
    width: 80%;
    height: 1.8rem;
    font-size: large;
}

input[type="checkbox"] {
    width: 15px;
    height: 15px;
}

table {
    text-align: center;
}

button {
    font-size: medium;
    background-color: var(--kernel-blue);
    color: currentColor;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: 0;
    cursor: pointer;
}

button:active {
    filter: brightness(0.9);
}

button:disabled {
    filter: brightness(0.5);
    cursor: auto;
}

/* Classes */
.flex {
    display: flex;
    gap: 3rem;
}

.mb {
    margin-bottom: 2rem;
}

.w-100 {
    width: 100%;
}

.text-center {
    text-align: center;
}

.space-between {
    justify-content: space-between;
}

.gray-circle {
    border-radius: 100%;
    background-color: var(--kernel-lightgray);
    width: 15px;
    height: 15px;
}

.blue-circle {
    border-radius: 100%;
    background-color: var(--kernel-white);
    width: 15px;
    height: 15px;
}

/* IDs */
#controls {
    display: flex;
    gap: 5px;
}

#banner {
    justify-content: center;
}

#add-row {
    background-color: var(--kernel-white);
    color: var(--kernel-lightgray);
    width: 42%;
    margin-top: 1rem;
}

#interrupts {
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5rem;
}

#user-inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20rem;
}

#visualization {
    border-radius: 0.5rem;
    width: 100%;
    height: 20rem;
    padding: 1rem 2rem;
    overflow: auto;
    background-color: var(--kernel-darkgray);
    color: var(--kernel-blue);
}

#file-label {
    display: block;
    text-align: center;
    border: 1px dashed var(--kernel-white);
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
}

#top {
    width: 100%;
}

#top thead {
    background-color: var(--kernel-white);
    color: var(--kernel-darkgray);
}

#top th, #top td {
    text-align: end;
}