/* Misc */
:root {
    --kernel-darkgray: #2c3134;
    --kernel-lightgray: #33383a;
    --kernel-white: #dddddd;
    --kernel-blue: #4a90d8;
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

* {
    box-sizing: border-box;
    font-family: inherit;
}

body {
    margin: 1rem 3rem;
    background: url(https://wallpapercave.com/wp/wp2071777.jpg) no-repeat center center fixed;
    color: var(--kernel-white);
    font-family: 'Ubuntu Mono', monospace;
}

header {
    background-color: var(--kernel-darkgray);
    border-radius: 0.5rem 0.5rem 0 0;
    height: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

main {
    background-color: var(--kernel-lightgray);
    padding: 2rem 4rem;
    overflow: auto;
    border-radius: 0 0 0.5rem 0.5rem;
}

h1 {
    font-size: larger;
}

h1 > span {
    background-color: currentColor;
    animation: blink 1s steps(2) infinite;
    margin-left: 5px;
}

h2 {
    font-size: large;
}

h3 {
    font-size: larger;
}

select {
    font-size: medium;
    background-color: var(--kernel-darkgray);
    color: currentColor;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: 0;
    width: 16rem;
}

option:hover, option:checked {
    background-color: var(--kernel-blue);
}

input {
    padding: 0.2rem 0.5rem;
    border-radius: 0.2rem;
    border: 0;
    width: 90%;
    height: 1.8rem;
    font-size: large;
}

table {
    text-align: center;
}

button {
    font-size: medium;
    background-color: var(--kernel-blue);
    color: currentColor;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: 0;
    cursor: pointer;
}

button:active {
    filter: brightness(0.9);
}

/* Classes */
.flex {
    display: flex;
    gap: 3rem;
}

.mb {
    margin-bottom: 2rem;
}

.gray-circle {
    border-radius: 100%;
    background-color: var(--kernel-lightgray);
    width: 16px;
    height: 15px;
}

.blue-circle {
    border-radius: 100%;
    background-color: var(--kernel-white);
    width: 15px;
    height: 15px;
}

/* IDs */
#controls {
    display: flex;
    gap: 5px;
}

#top {
    justify-content: center;
}

#visualization {
    border-radius: 0.5rem;
    width: 100%;
    height: 20rem;
    padding: 1rem 2rem;
    overflow: auto;
    background-color: var(--kernel-darkgray);
    color: var(--kernel-blue);
}

#file-label {
    display: block;
    text-align: center;
    border: 1px dashed var(--kernel-white);
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
}